
  
  <div class="homeContainer">
    <div class="autoWaTxt" style="width: 600px;text-align: center;margin-left: 100px;margin-top: 50px;">
        <p>
         Process
        </p>
    </div>
  
  <div style="width: 800px">
      <table>
        <tr>
          <td>
            We Work For You Not The Insurance Companies
          </td>
        </tr>
          <tr>
              <td>
                
                    lorem ipsumdolor sit amet, consecteetur adipiscing elit. Sed nisi duis turpis id purus
                    volupat volopat. vitae pretium tincidunt various amet massa. Mauris vitae quis
                    purus eu frangila facilisis pellentesque sed. Sit nunc in purus placeat laoreet nibh
           
                </td>
                </tr>
      </table>
      <br>
  <br>
  
  </div>
  </div>