<div class="container">  
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
        
      <p>  
        <label for="name">Customer Name:</label>  

        <select aria-labelledby="dropdownMenuButton" style="width:300px">
            <option  *ngFor="let customer of customers">{{customer.name}}</option>
        </select>
    </p>
<p>
    <label for="name">Vehicle Name:</label>      
         <select aria-labelledby="dropdownMenuButton" style="width:300px">
            <option  *ngFor="let vehicle of vehicles">{{vehicle.name}}</option>
        </select>

      </p>  
      
      <table class="table" formArrayName="quantities">  
        <tr>  
          <th colspan="2">Add Multiple:</th>  
          <th width="150px"><button type="button" (click)="addQuantity()">Add More</button></th>  
        </tr>  
        <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
          <td>  
              Vehicle Name :  
              <input type="text" formControlName="qty" class="form-control">  
          </td>  
          <td>  
              Price:  
              <input type="text" formControlName="price" class="form-control">  
          </td>  
          <td>  
              <button (click)="removeQuantity(i)">Remove</button>  
          </td>  
        </tr>  
      </table>  
       
      <button type="submit" class="btn btn-success">Submit</button>  
        
    </form>  
        
    <br/>  
    {{this.productForm.value | json}}  
  </div>  