<div class="ContactUsContainer">

  <div class="parentText" style="margin-top: 50px">
    
    <div class="column ContactUs">
        <div style="font-size:20px;">
            AUTOWA.
        </div>
        <br>
        <div class="contactUsText">
          lorem ipsumdolor sit amet, consecteetur adipiscing elit. Sed nisi duis turpis id purus
          volupat volopat. vitae pretium tincidunt various amet massa.  
        </div>
        
    </div>
    <div class="column ContactUs">
        <div>
          SERVICES
        </div>
        
        <br>
        <div>
          Help Center
        </div>
        <br>
        <div>
          Press
        </div>
        <br>
        <div>
          About Us
        </div>
    </div>
    <div class="column ContactUs">  
        <div>
           GET IN TOUCH
        </div>
        <br>
        <div>
          A 24, Wallstreet, NY 200001
        </div>
        <br>
        <div>
          E: info@domain.com
        </div>
        <br>
        <div>
          P: +1 2345 67890
        </div>
        
    </div>
  
</div>
<div style="position:relative;top:270px">
    <hr class="newLine">
    <div class="parentText">
      <div class="column contactUsText">
        @2020 Copyright Autowa. All rights Reserved.
      </div>
   
      <!-- <div class="column contactUsText">
        
      </div>
      <div class="column contactUsText">
         f
      </div>
      <div class="column contactUsText">
        Twitter
     </div>
     <div class="column contactUsText">
      Facebook
   </div>
   <div class="column contactUsText">
    Instagram
 </div> -->
    <div style="margin-right:-155px">
    <div class="contactUsText" style="float:right;padding-right: 10px;">
       f 
      </div>
      <div class="contactUsText" style="float:right;padding-right: 10px;">
        Twitter
       </div>
       <div class="contactUsText" style="float:right;padding-right: 10px;">
        Facebook
       </div>
       <div class="contactUsText" style="float:right;padding-right: 10px;">
        Instagram
       </div> 
    </div>
  </div>  
</div>
</div>
  
  
  
                 
         
        
  
  