<div class="homeContainer">
<div class="autoWaTxt parentImg"> 
   <div >
      Save Up to <span class="yellow">30%</span> On <br>
      Your Car Insurance<br>
      In Minutes.
   </div>
   <div class="column">
    </div>
    <div  class="column">  
        <img alt="My image name" style="width:300px" src="assets/img/Insurance_Car.jpg">
    </div>
</div>
<br>
<div class="parentText">
    <div class="column">
        <div class="lowestCarPremiums">
            <span class="yellowSmall">
                Save up to 80% </span><br>
                    <span class="blackSmall">Lowest Car Premiums</span>
           
        </div>
    </div>
    <div class="column">
        <div class="lowestCarPremiums">
            <span class="yellowSmall">
                Save up to 80% </span><br>
                    <span class="blackSmall">Lowest Car Premiums</span>
        </div>
    </div>
    <div class="column">  
        <div class="lowestCarPremiums">
            <span class="yellowSmall">
                Save up to 80% </span><br>
                    <span class="blackSmall">Lowest Car Premiums</span>
        </div>
    </div>
</div>
<br><br>
<div>
    *TP Price for less than 1000 CC cars. All savings are provided by insurers as per Gov. approved insurance plan. Standard T&C apply.
</div>
</div>



               
       
      

